.section-1 {
    width: 100%;
    height: 1050px;
    background-image: url("../img/section-1-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header {
    background: rgba(20, 20, 20, .2);
    backdrop-filter: blur(5px);
}

.header__content {
    width: 100%;
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger-menu,
.header__order-btn-mobile {
    display: none;
}

.header__title {
    max-width: 215px;
    margin-left: -65px;
    margin-top: 25px;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 16px;
    mix-blend-mode: multiply;
}

.header__address {
    background-image: url("../img/geo.png");
    background-position: left center;
    background-repeat: no-repeat;
    max-width: 230px;
    padding-left: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.header__phone {
    background-image: url("../img/phone-call.png");
    background-position: left center;
    background-repeat: no-repeat;
    font-family: Bebas Neue;
    font-weight: 700;
    font-size: 30px;
    padding-left: 38px;
}

.header__order-btn {
    color: #F8B043;
    width: 379.21px;
    height: 69px;
    border: 2px solid #F8B043;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
}

.navigation_main {
    margin-top: 25px;
}

.navigation__list {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 50px;
}

.section-1__main-content {
    display: flex;
    align-items: center;
    gap: 376px;
    margin-top: 83px;
}

.section-1__description {
    border-left: 5px solid #fff;
    padding-left: 30px;
    font-weight: 500;
    line-height: 20px;
}

.section-1__text:not(:first-child) {
    padding-top: 25px;
}

.section-1__title {
    display: inline-block;
    width: 769px;
    font-family: Bebas Neue;
    font-size: 104px;
    letter-spacing: -0.005em;
}

.section-1__advantage {
    margin-top: 75.52px;
}

.advantage__list {
    display: flex;
    gap: 56px;
}

.advantage__item {
    width: 280px;
    height: 55px;
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 24px;
    padding-left: 25px;
    padding-top: 5px;
}

.btn-container {
    margin-top: 80px;
}

.section-1__order-btn {
    color: #FAFAFA;
    background-color: #F8B043;
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    background-position: center right 45px;
    text-align: left;
    padding-left: 45px;
    width: 424px;
    height: 69px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
}

@media (max-width: 1440px) {

    .header__title {
        margin-left: 0;
    }

    .section-1__title {
        width: auto;
    }

    .section-1__main-content {
        gap: 0;
    }

    .section-1__description {
        margin-right: 50px;
    }
    
}

@media (max-width: 1024px) {

    .header__order-btn {
        width: 150px;
    }

    .section-1__title {
        font-size: 70px;
    }

}

@media (max-width: 988px) {

    .header__title {
        max-width: 160px;
        margin-left: 20px;
        margin-top: 0;
    }

    .header__address {
        padding-left: 25px;
    }

    .header__phone {
        text-align: center;
        padding-left: 20px;
    }

    .section-1__description {
        padding-left: 10px;
    }

    .navigation__list {
        gap: 25px;
    }

    .advantage__item {
        font-size: 15px;
    }

}

@media (max-width: 750px) {

    .section-1 {
        height: 750px;
        padding-bottom: 30px;
    }

    .navigation_main {
        display: none;
    }

    .header__title,
    .header__address,
    .header__phone,
    .header__order-btn {
        display: none;
    }

    .container {
        padding: 0 13px;
    }

    .header__content {
        height: 50px;
    }

    .header__burger-menu {
        display: block;
        width: 25px;
        height: 12px;
    }

    .header__logo {
        width: 51px;
        height: 25px;
    }

    .header__order-btn-mobile {
        display: block;
    }

    .section-1__main-content {
        display: block;
        margin-top: 65px;
    }

    .section-1__title {
        width: 222px;
        font-size: 30px;
        line-height: 34px;
    }

    .section-1__description {
        margin-top: 30px;
        padding-left: 25px;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        border-left: 3px solid #fff;
    }

    .section-1__advantage {
        margin-top: 65px;
    }

    .btn-container {
        margin-top: 55px;
    }

    .section-1__order-btn {
        width: 280px;
        height: 45px;
        font-size: 12px;
        background-position: center right 30px;
        display: block;
        margin: 0 auto;
    }

    .advantage__list {
        display: block;
    }

    .advantage__item:not(:first-child) {
        margin-top: 20px;
    }
}